.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: rgba(17, 17, 17, 0.90);
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar .menu li {
    /* list-style: none; */
    display: inline-block;
}

.navbar .menu li p {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li p:hover {
    color: rgb(20, 113, 220);
}

.navbar.sticky .menu li p:hover {
    color: #fff;
}

.logo-ecell {
    width: 50px;
}

.main-logo {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.main-logo::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: #212121; */
    transition: 0.5s;
    transform-origin: center;
}

.main-logo::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    /* background-color: #212121; */
    transition: 0.5s;
}

.main-logo:hover::before,
.main-logo:hover::after {
    transform: scale(0)
}

.main-logo:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

@media (max-width: 1104px) {
    .main-logo {
        font-size: 12px;
        width: 100px;
    }

    .navbar .menu li p {
        display: block;
        color: #fff;
        font-size: 12px;
        margin-left: 12px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }
}