.tspon{
	color: white;
    padding-bottom: 80px;
    padding-top: 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}
.marquee-full-width {
    
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 0rem;
    background: black;
	width: 100%;
    opacity: 2;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
    z-index: 1;
}

.marquee-box {
	overflow-x: hidden !important;
	display: flex !important;
	flex-direction: row !important;
	position: relative;
	width: 100%;
}
.marquee {
    opacity: 1;
    padding-bottom: 5rem;
    
	flex: 0 0 auto;
	
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: marqueescroll 100s linear 0s infinite;
	animation-play-state: running;
	animation-delay: 0;
	animation-direction: normal;
}
.marquee figure

{
	height: 100px;
	margin-right: 1rem;
	margin-left: 1rem;
	padding: 2px;
	max-width: 250px;	
	text-align: center;
	vertical-align: top;
}
.marquee figcaption
{
	display:none;
	font-weight: 80%;
	color: #333;
	line-height: 1.2;
}
.marquee img
{
width: 20rem;
	margin: 0 auto;
	
	max-height: 5.5rem;
	max-width: 100%;
	background: #fdfdfd;
	border: none;
}
.marquee-box:hover div {
	animation-play-state: running;
}
.marquee-box:active div {
	animation-play-state: running;
}
@keyframes marqueescroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
